.body {
	font-family: Tahoma,Arial,Verdano;
	margin: 0px;
}

.header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background: #d6d6d6;
	height: 30px;
}

.header_call{
	display: flex;
	align-items: center;
	font-size: 69%;
	padding-left: 5%;
}
.header_links {
	display: flex;
	flex-direction: row;
	width: 33%;
	font-size: 80%;
	justify-content: space-between;
	align-items: center;
	margin-right: 5%;
}

.menu {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	height: auto;
}

.menu_links {
	margin-left: 5%;
	width: 20%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

.menu_logo {
	height: auto;
	padding-top: 8%;
	padding-bottom: 2%;
	flex-basis: 33%;
	font-size: 0;
	background: url(img/Shophia.png);
	background-size: 50% auto;
	background-repeat: no-repeat;
	background-position: center;
	text-indent: -10000px;
}

.menu_list {
	margin-right: 5%;
	width: 20%;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

.article {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: auto;
	padding-top: 18%;
	padding-bottom: 4%;
	background: url(img/Main.png);
	background-repeat: no-repeat;
	background-position: center;
	background-size: 100% auto;
}

.article_border {
	width: 20%;
	padding: 0.5%;
	border: 1px solid white;
}

.article_border_text {
	text-align: center;
	border: 1px solid white;
}

.article_border_text_p {
	color: white;
}

.article_border_text_h1 {
	font-size: 200%;
}

.article_shop-button {
	margin-top: 5%;
	width: 10%;
	height: auto;
	background: orangered;
	flex-direction: column;
	align-items: center;
}
.article_shop-button_text {
	text-align: center;
	color: white;
}

.support {
	padding-top: 4%;
	display: flex;
	justify-content: center;
	width: 100%;
	height: auto;
}

.hand-picked {
	display: flex;
	flex-direction: row;
	height: auto;
	justify-content: space-around;
	flex-wrap: wrap;
}

.hand-picked_small-img {
	width: 31%;
	display: flex;
	flex-direction: column;
}

.hand-picked_small-img_div {
	padding-bottom: 16px;
}

.hand-picked_small-img_div_img {
	width: 100%;
}

.hand-picked_big-img {
	width: 31%;
	padding-bottom: 16px;
}

.hand-picked_big-img_img {
	height: 100%;
	width: 100%;
}

.summer-sec {
	height: auto;
	width: 100%;
}

.summer-sec_list {
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;
}

.summer-sec_list_div {
	height: 50%;
	width: 22%;
}

.summer-sec_list_div_img {
	width: 100%;
}

.brands {
	height: auto;
}

.brands_list {
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}

.brands_list_div {
	width: 10%;
	height: 50%;
}

.brands_list_div_img {
	width: 100%;
}

.heading {
	height: auto;
	text-align: center;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	padding: 2%;
}

.heading_text {
	font-size: 100%;
	padding-left: 3%;
	padding-right: 3%;
}

.heading_img {
	width: 17px;
	height: 17px;
}

.help {
	height: auto;
	background: url(img/TESTIMONIAL.png);
	background-size: 100% auto;
	background-repeat: no-repeat;
	background-position: center;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.help_customer_desc {
	color: white;
}

.help_customer_title {
	color: #7e7e7e;
}

.help_customer1 {
	padding-left: 20%;
	text-align: left;
	padding-top: 10%;
	padding-bottom: 3%;
	flex-direction: column;
	font-size: 75%;
}

.help_customer2 {
	padding-right: 20%;
	text-align: right;
	padding-top: 10%;
	padding-bottom: 3%;
	flex-direction: column;
	font-size: 75%;
}

.footer {
	height: auto;
	padding-bottom: 5%;
	text-align: center;
	background: black;
	clear: both;
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	text-align: left;
}

.footer_h {
	padding-top: 5%;
	font-size: 11pt;
	padding-bottom: 5%;
	color: white;
}

.footer_p {
	font-size: 9pt;
	color: #7e7e7e;
}

.footer_shops{
	flex-direction: column;
	width: 20%;
}

.footer_information {
	width: 20%;
	flex-direction: column;
}

.footer_customer-service {
	width: 20%;
	flex-direction: column;
}

.footer_stay-connected {
	width: 25%;
}

.footer_stay-connected_links {
	display: flex;
	justify-content: space-evenly;
	flex-direction: row;
	justify-content: center;
	align-items: stretch;
	justify-content: space-between;
}

.footer_stay-connected_links_div {
	width: 16%;
}

.footer_stay-connected_links_img {
	width: 90%;
}

.footer_email {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 15%;
	border: 1px solid #555555;
}

.footer_email_input {
	color: #7e7e7e;
	background-color: black;
	width: 66%;
	height: auto;
	border: none;
}

.footer_subbutton{
	margin: 1%;
	width: 33%;
	align-items: center;
	height: auto;
	background: #2c2c2c;
	flex-direction: column;
	
}

.footer_subbutton_p {
	text-align: center;
	color: white;
}

.arrow {
	height: auto;
	width: auto;
	background: black;
	padding-bottom: 5%;
}

.arrow_line {
	display: flex;
	justify-content: center;
	padding-left: 2%;
	padding-right: 2%;
	width: 96%;
}

.arrow_text {
	padding-left: 3%;
	font-size: 7pt;
	color: #7e7e7e;
}

.arrow_cards {
	padding-left: 3%;
}